.form {
    text-align: center;
    margin-top: 3rem;
}

.pageTitle {

}

.textField {
    
}


.wrapper {
position: relative;
font-family: 'Inria Serif', serif;
}
.hero {
   height: 100vh;
   width: 100vw;
   object-fit: cover;
   /* filter: brightness(130%); */
   filter: contrast(50%);

}

.head {
    color: white;
    font-family: lato;
    font-weight: 100;
    font-size: 1.2rem;
    letter-spacing: .2rem;
}

.btninfo {

}

.inputwrapper {
    /* display: flex; */
    /* align-items: center; */
    /* padding: .4rem; */
    margin-top: 1rem;
    
}


.field {
    padding: .6rem 2rem;
}

.adminwrapper {
    
}

.adminIdField {

}



/* input */


